{% extends "article_base.html" %}

{% block title %} 发布文字 {% endblock %}
{% block script %}
{{ block.super }}
<script type="text/javascript">
        var writer = new stmd.HtmlRenderer();
        var reader = new stmd.DocParser();

        $(document).ready(function() {
          var parsed;
          var render = function() {
              if (parsed === undefined) {
                return;
              }
              var result = writer.renderBlock(parsed);
              $("#preview").html(result);
          };
          var parseAndRender = function () {
              parsed = reader.parse($("#id_content").val());
              render();
          };

          $("#preview-button").bind('click', parseAndRender);
          // $("#id_content").bind('keyup paste cut mouseup', parseAndRender);
          // $(".option").change(render);
        });
  </script>
{% endblock %}


{% block article %}

<form role="form" action="" method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_caption">Title: </label>
        {% if form.caption.errors %}
        <div class="alert alert-error">
            {{ form.caption.errors }}
        </div>
        {% endif %}
        <input type="text" class="form-control" id="id_caption" name="caption" placeholder="标题" value="{{ article.caption }}">
    </div>
    <div class="form-group">
        <label for="id_content">Content: </label>
        {% if form.content.errors %}
        <div class="alert alert-error">
            {{ form.content.errors }}
        </div>
        {% endif %}
        <textarea class="form-control" rows="5" id="id_content" name="content">{{ article.content }}</textarea>
    </div>
    <div class="input-group">
        <div class="input-group-addon">tags</div>
        {% if tag.tag_name.errors %}
        <div class="alert alert-error">
            {{ tag.tag_name.errors }}
        </div>
        {% endif %}
        <input type="text" colum class="form-control" id="id_tag" name="tag_name" placeholder="Tag" value="{{ tag }}">

        <div class="input-group-addon">classification</div>
        {% if classification.classification_name.errors %}
        <div class="alert alert-error">
            {{ classification.classification_name.errors }}
        </div>
        {% endif %}
        <input type="text" colum class="form-control" id="id_classification" name="classification_name" placeholder="Classification" value="{{ article.classification }}">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="preview-button">Preview</button>
     <br/>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Preview</h4>
          </div>
          <div class="modal-body">
            <div id="preview" class="tab-pane active">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

</form>
{% endblock %}