{% extends "article_base.html" %}

{% block title %} 浮生四季 {% endblock %}
{% block script %}
{{ block.super }}
    <script>
        $(document).ready(function() {
            $("#nav-home-item").addClass("active");
        })
    </script>
{% endblock %}
{% block extra_head %}
{{ block.super }}
<style>
.article_item
{
    padding-left:10px;
    border-left-style:solid;
    border-left-color:#CCCCCC;
    border-width: 10px;
    transition: border 1s;
    -moz-transition: border 1s;	/* Firefox 4 */
    -webkit-transition: border 1s;	/* Safari 和 Chrome */
    -o-transition: border 1s;	/* Opera */
}
.article_item:hover
{
    border-left-style:solid;
    border-left-color:#EA6753;
    border-width: 10px;
}
</style>
{% endblock %}

{% block article %}
<article class='content-main' style="box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.2);padding: 20px 5px 0x 0;">
    {% for article in articles %}
    <div class="article_item">
        <h4 style="margin-top:-20px; padding-top:10px"><a href="{% url 'detailarticle' year=article.publish_time|date:"Y" month=article.publish_time|date:"m" day=article.publish_time|date:"d" id=article.id %}" >{{ article.caption }}</a></h4>
        <p class="text-muted">
            <i class="glyphicon glyphicon-list-alt"></i> <small>{{ article.classification }}</small>
            {% for tag in article.tags.all %}
                <i class="glyphicon glyphicon-tags"></i> <small>{{ tag }}</small>
            {% endfor %}
        </p>
        <div class="row">
            <div class="col-md-3">
                <p class="muted"><i class="glyphicon glyphicon-time"></i><small> {{ article.publish_time|date:"Y-m-d" }}</small></p>
            </div>
            <div class="col-md-2 col-md-offset-7">
                {# <a href="{% url 'delarticle' article.id %}" title="delete"><i class="glyphicon glyphicon-trash"></i></a> #}
                {# <a href="{% url 'updatearticle' article.id %}" title="edit"><i class="glyphicon glyphicon-pencil"></i></a> #}
                <a href="{% url 'detailarticle' year=article.publish_time|date:"Y" month=article.publish_time|date:"m" day=article.publish_time|date:"d" id=article.id %}#disqus_thread" >
                <i class="ds-thread-count glyphicon glyphicon-comment" data-thread-key="{{ article.id }}"></i></a>
            </div>
        </div>
    <hr style="border-style:solid;border-color:#CCCCCC;border-width: 2px;">
    </div>
    {% endfor %}
</article>

{% block pagination %}
<ul class="pager">
  {% ifequal page '1' %}
    <li class="previous disabled"><span>&larr; Older</span></li>
  {% else %}
    <li class="previous"><a href="{% url 'articlelist' page|add:-1 %}">&larr; Older</a></li>
  {% endifequal  %}
  {% ifequal page pages %}
    <li class="next disabled"><span>Newer &rarr;</span></li>
  {% else %}
    <li class="next"><a href="{% url 'articlelist' page|add:1 %}">Newer &rarr;</a></li>
  {% endifequal %}
</ul>
{% endblock %}

{% endblock %}