{% extends "base.html" %}

{% block script %}
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"okhyf"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
{% endblock %}
{% block extra_head %}
{% endblock %}

{% block aside %}
    {# <a class="btn" href="{% url 'addarticle' %}"><i class="glyphicon glyphicon-plus"></i> add new blog</a> #}<br/>
    {% block introduce %}
        <div class="panel panel-default" style="box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4);">
          <div class="panel-heading text-center">About</div>
          <div class="panel-body" style="font-size:15px;font-family: sans-serif;">
            <img src="/static/img/about-me.jpg" alt="it's me!" class="img-thumbnail" style="float:left; width:60%; margin-right:5px;">
            <p>
                <strong style="padding:30px">贺于峰</strong><br/>
                网名:<strong>酷寒清风</strong><br/>
                洋名:<strong>Ian He</strong><br/>
                职业:程序员<br/>
                目前就职于厦门亿联网络技术股份有限公司杭州分公司, 做音视频引擎开发。
            </p>
            <p>
                虽然工作主要发开语言是C++, 但是对函数式编程也有着浓厚的兴趣, 爱好研究各类编程语言与编程思想, 关注技术前沿, 目标是成为Full Stack Developer.
            </p>
          </div>
          <table class="table">
          </table>
        </div>
    {% endblock %}

    {% block tags %}
        <div class="well" style="box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4);">
            <i class="glyphicon glyphicon-tags"></i><i> 标签</i><br/>
            {% for tag in tags %}
                <span class="label label-info"><a href="{% url 'filtrarticletag' tag.id %}" style="color:white;">{{ tag }}</a></span>
            {% endfor %}
        </div>
    {% endblock %}

    {% block classifications %}
        <div class="well" style="box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4);">
            <i class="glyphicon glyphicon-list-alt"></i><i> 分类</i><br/>
            {% for classification in classifications %}
                <span class="label" style="font-size:13px;"><a href="{% url 'filtrarticleclass' classification.id %}">{{ classification }}</a></span>
            {% endfor %}
        </div>
    {% endblock %}

    {% block archives %}
        <div class="well" style="box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4);">
            <i class="glyphicon glyphicon-calendar"></i><i> 归档</i><br/>
            {% for archive, count in archives_count_map.items %}
                <span class="label"><a href="{% url 'filtrarticlearchive' archive.id %}" style="font-size:13px;">{{ archive }} ({{ count }})</a></span>
            {% endfor %}
        </div>
    {% endblock %}

    {% block links %}
        <div class="well" style="box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4);">
            <i class="glyphicon glyphicon-link"></i><i> 链接</i><br/>
        </div>
    {% endblock %}
{% endblock %}