{% extends "article_base.html" %}
{% load gravatar %}
{% block title %} {{ article.caption }} {% endblock %}
{% block script %}
{{ block.super }}
{% endblock %}

{% block article %}
<div class="content" style="background: none repeat scroll 0% 0% #FFF;box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);padding: 30px;">
    <article class="content-main">
    {% block article_title %}
        <h2 style="padding: 0px 0px 40px">{{ article.caption }}</h2>
    {% endblock %}
    <p class="text-muted">
        <i class="glyphicon glyphicon-user"></i><small> {{ article.author }}</small>
        <i class="glyphicon glyphicon-time"></i><small> {{ article.publish_time }}</small>
    </p>

    <section style="border-left: 5px solid #EEE;padding: 10px 20px;margin: 0px 0px 20px;">
        <div class="row">
            <div class="col-md-10" style="word-wrap: break-word; word-break: normal;">
                {% block article_content %}
                {{ article.content|safe }}
                {% endblock %}
            </div>
        </div>
    </section>

    <section>
        <div class="row-fluid">
            <div class="col-md-6">
                <p class="text-muted">
                    <i class="glyphicon glyphicon-list-alt"></i> <small>{{ article.classification }}</small>
                    <i class=" glyphicon glyphicon-tag"></i>
                    {% for tag in article.tags.all %}
                         <small> {{ tag }} </small>
                    {% endfor %}
                </p>  
            </div>
            <div class="col-md-1 col-md-offset-5">
                {# <a href="{% url 'delarticle' article.id %}" title="delete"><i class="glyphicon glyphicon-trash"></i></a> #}
                {# <a href="{% url 'updatearticle' article.id %}" title="edit"><i class="glyphicon glyphicon-pencil"></i></a> #}
                <a href="#cmt" title="comment"><i class="glyphicon glyphicon-comment"></i></a>
            </div>
        </div>
        <hr>
    </section>

    </article>
    <hr>
</div>    
{% endblock %}

{% block comments %}
<article id="cmt">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'okhyf';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
{% endblock %}