{% extends "article_base.html" %}

{% block title %} classification: {{ classification }} {% endblock %}
{% block script %}
{{ block.super }}
{% endblock %}

{% block article %}
<article class='content-main'>
    <h1>Classification: {{ classification }}</h1><br/>
    {% for article in articles %}
        <h4><a href="{% url 'detailarticle' article.id %}">{{ article.caption }}</a></h4>
        <p class="text-muted">
            <i class="glyphicon glyphicon-list-alt"></i> <small>{{ article.classification }}</small>
            {% for tag in article.tags.all %}
                <i class="glyphicon glyphicon-tags"></i> <small>{{ tag }}</small>
            {% endfor %}
        </p>
        <div class="row">
            <div class="col-md-3">
                <p class="muted"><i class="glyphicon glyphicon-time"></i><small> {{ article.publish_time }}</small></p>
            </div>
            <div class="col-md-2 col-md-offset-7">
                {# <a href="{% url 'delarticle' article.id %}" title="delete"><i class="glyphicon glyphicon-trash"></i></a> #}
                {# <a href="{% url 'updatearticle' article.id %}" title="edit"><i class="glyphicon glyphicon-pencil"></i></a> #}
                <a href="{% url 'detailarticle' article.id %}#disqus_thread" title="comment"><i class="glyphicon glyphicon-comment"></i>{{ comment_count }}</a>
            </div>
        </div>
    <hr>
    {% endfor %}
</article>
{% endblock %}