{% extends "article_base.html" %}
{% load gravatar %}
{% block title %} {{ article.caption }} {% endblock %}
{% block script %}
{{ block.super }}
{% endblock %}

{% block article %}
<div class="content" style="background: none repeat scroll 0% 0% #FFF;box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);padding: 30px;">
    <article class="content-main">
    {% block article_title %}
        <h2 style="padding: 0px 0px 40px">{{ article.caption }}</h2>
    {% endblock %}
    <p class="text-muted">
        <i class="glyphicon glyphicon-user"></i><small> {{ article.author }}</small>
        <i class="glyphicon glyphicon-time"></i><small> {{ article.publish_time|date:"Y-m-d" }}</small>
    </p>

    <section style="border-left: 5px solid #EEE;padding: 10px 20px;margin: 0px 0px 20px;">
        <div class="row">
            <div class="col-md-10" style="word-wrap: break-word; word-break: normal;">
                {% block article_content %}
                {{ article.content|safe }}
                {% endblock %}
            </div>
        </div>
    </section>

    <section>
        <div class="row-fluid">
            <div class="col-md-6">
                <p class="text-muted">
                    <i class="glyphicon glyphicon-list-alt"></i> <small>{{ article.classification }}</small>
                    <i class=" glyphicon glyphicon-tag"></i>
                    {% for tag in article.tags.all %}
                         <small> {{ tag }} </small>
                    {% endfor %}
                </p>  
            </div>
            <div class="col-md-1 col-md-offset-5">
                {# <a href="{% url 'delarticle' year=article.publish_time|date:"Y" month=article.publish_time|date:"m" day=article.publish_time|date:"d" id=article.id %}" title="delete"><i class="glyphicon glyphicon-trash"></i></a> #}
                {# <a href="{% url 'updatearticle' year=article.publish_time|date:"Y" month=article.publish_time|date:"m" day=article.publish_time|date:"d" id=article.id %}" title="edit"><i class="glyphicon glyphicon-pencil"></i></a> #}
                <a href="#cmt" title="comment"><i class="glyphicon glyphicon-comment"></i></a>
            </div>
        </div>
        <hr>
    </section>

    </article>
    <hr>
</div>    
{% endblock %}

{% block comments %}
<article id="cmt">
    <div id="disqus_thread"></div>
    <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.caption }}" data-url="heyufeng.me{% url 'detailarticle' year=article.publish_time|date:"Y" month=article.publish_time|date:"m" day=article.publish_time|date:"d" id=article.id %}"></div>
    <!-- 多说评论框 end -->
</article>
{% endblock %}