<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    {% block script %}
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
</head>

<body style="background-color:#EFEEE4;">
    {% block body %}
        {% block header %}
            {# 任何每个页面都可能修改的文本区域的页面 #}
            {% block menu %}
            {# 你的菜单 (导航栏) 应该包含在这个区块中. 它是针对站点级的导航, 不是 每个页面专属的导航菜单. #}
            {% endblock %}
        {% endblock %}

    <div class="container">
        {% block content %}
            {# 这个区块用来放置页面正文内容. 任何页面正文内容都可能不一样. 它不 包含任何站点导航, 信息头, 页脚, 或其它任何属于 base 模板的东东. #}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        {% block article %}
                            {% block article_title %}
                                {% comment %}
                                用来指定 content 区块的 "title". 比如 blog 的标题.
                                也可以用来 包含 content 内的导航 (译注: 比如提纲), 或其它类似的东东.
                                大致都是些 页面中并非主要内容的东东.
                                我不知道这个区块是否应该放到 content tag 内, 并且对应于前面建议的 content tag,
                                是不是还需要一个 main_content 区块.
                                {% block [section]_menu %} {% block page_menu %}
                                这是对应于之前建议的 menu 区块. 用来导航一个章节或页面.
                                {% endcomment %}
                            {% endblock %}
                            {% block article_content %}{% endblock %}
                        {% endblock %}

                        {% block article_menu %} {% endblock %}
                        {% block comments %} {% endblock %}
                    </div>
                    <div class="col-md-3">
                        {% block aside %}
                            {% block tags %}{% endblock %}
                            {% block classifications %}{% endblock %}
                            {% block administration %}{% endblock %}
                            {% block advertisement %}{% endblock %}
                            {% block links %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        {# 任何每个页面都可能修改的文本区域的页脚 #}
        <footer class="panel-footer"  role="contentinfo" style="height:60px;width:100%;box-shadow:0px -1px 8px #000 inset;background-color:#262626;">
            <div class="text-center container">
              <p style="color: #888;padding-top: 10px;">版权所有，保留一切权利！&copy; 2014 酷寒清风. Powered by Django. All Rights Reserved. </p>
            </div>
        </footer>
    {% endblock %}

    {% endblock %}
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>