<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/myjs/my_base.js"></script>
    {% block script %}
    {% endblock %}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
        code{
            white-space:pre-wrap;
        }
        li a {
            font-family:Microsoft YaHei;
            font-size:15px;
        }
    </style>
    {% block extra_head %}
    {% endblock %}
</head>

<body style="background-image:url(/static/img/background.png); background:#E7E7E7;min-height:100%;height:auto !important;height:100%;position:relative;">
    {% block body %}
        {% block header %}
            {# 任何每个页面都可能修改的文本区域的页面 #}
            {% block menu %}
            {# 你的菜单 (导航栏) 应该包含在这个区块中. 它是针对站点级的导航, 不是 每个页面专属的导航菜单. #}
            <div class="navbar navbar-default navbar-fixed-top"  role="navigation" style="background:#EA6753;">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'articlelist' %}" style="font-family:华文行楷;font-size:38px;">浮生四季</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li id="nav-home-item"><a href="{% url 'articlelist' %}">首页</a></li>
                            <li id="nav-about-item"><a href="https://github.com/okhyf" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
        {% endblock %}

    <div class="container" style="padding-bottom:100px;">
        {% block content %}
            {# 这个区块用来放置页面正文内容. 任何页面正文内容都可能不一样. 它不 包含任何站点导航, 信息头, 页脚, 或其它任何属于 base 模板的东东. #}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8" >
                        {% block article %}
                            {% block article_title %}
                                {% comment %}
                                用来指定 content 区块的 "title". 比如 blog 的标题.
                                也可以用来 包含 content 内的导航 (译注: 比如提纲), 或其它类似的东东.
                                大致都是些 页面中并非主要内容的东东.
                                我不知道这个区块是否应该放到 content tag 内, 并且对应于前面建议的 content tag,
                                是不是还需要一个 main_content 区块.
                                {% block [section]_menu %} {% block page_menu %}
                                这是对应于之前建议的 menu 区块. 用来导航一个章节或页面.
                                {% endcomment %}
                            {% endblock %}
                            {% block article_content %}{% endblock %}
                        {% endblock %}

                        {% block article_menu %} {% endblock %}
                        {% block comments %} {% endblock %}
                    </div>
                    <div class="col-md-4" >
                        {% block aside %}
                            {% block introduce %}{% endblock %}
                            {% block tags %}{% endblock %}
                            {% block classifications %}{% endblock %}
                            {% block archives %}{% endblock %}
                            {% block administration %}{% endblock %}
                            {% block advertisement %}{% endblock %}
                            {% block links %}{% endblock %}
                            {% block languages %}{% endblock %}
                            {% block books %}{% endblock %}
                            {% block others %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        {# 任何每个页面都可能修改的文本区域的页脚 #}
        <footer class="panel-footer"  role="contentinfo" style="position:absolute;height:60px;width:100%;box-shadow:0px -1px 8px #000 inset;background-color:#262626;bottom:0;">
            <div class="text-center container">
              <p style="color: #888;padding-top: 10px;">&copy; 2014 酷寒清风. Powered by Django & Bootstrap. All Rights Reserved. </p>
            </div>
        </footer>
    {% endblock %}

    {% endblock %}
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>